// black
$RaisinBlack: #222222;
$DarkCharcoal: #333333;
$Black: #000000;
// blue
$CeruleanBlue: #2D60C5;
$Blueberry: #4B7EE4;
$RoyalBlue: #3D76E7;
// white
$White: #FFFFFF;
$AntiFlashWhite: #F0F0F0;
// grey
$Gainsboro: #DEDEDE;
$LightSilver: #D3D7E1;
$SpanishGrey: #9A9A9A;
$CoolGrey: #8A94AC;
// red
$Red: #FF0000