@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --base-font-size: 16px;
}

body {
  font-family: "Open Sans";
  color: #ffffff;
  background-color: #222222;
}
